// contact page
@media (min-width:1505px) {
     
}
@media (min-width:1504px) and (max-width:1600px){
     
}
@media (min-width:1200px) and (max-width:1504px){
     
}
@media (min-width:992px) and (max-width:1199px){   
}
@media (min-width:992px) {
    .row-40{
        margin: 0px -40px;
    }
    .col-40{
        padding: 0px 40px;
    }
    .row-20{
        margin: 0px -20px;
    }
    .col-20{
        padding: 0px 20px;
    }
}
#banner-pages{
    position: relative;
    top: -75px;
    left: 0;
    width: 100%;
    padding: 15px;
    @media (max-width:767px){
        img{
            min-height: 150px;
        }
    }
    
}
#maps{
    margin:65px 0px 70px 0px;
    .box-maps{  
        margin-top: -65px;
        overflow: hidden;
        border-radius: 30px;
        border: 8px solid var(--color-white);
        @media (max-width:767px) {
             margin-top:-100px;
        }
    }
}
#information{
    background: url(../img/contact-information.png) no-repeat;
    background-size: 100% 100%;
    padding: 105px 0px 100px 0px;
    position: relative;
    z-index: 10;
    margin-bottom: -50px;
    .box-information, .register{
        min-height: 630px;
        padding: 150px 60px 100px 60px;
        background: hsl(0deg 0% 100% / 38%);
        border-radius: 20px;
        border: 1px solid hsl(0deg 0% 100% / 55%);
        h3{
            color: var(--color-white);
            font-weight: bold;
            margin-bottom: 10px;
        }
        p{
            color: var(--color-white); 
            max-width: 480px;
            line-height: 1.75rem;
        }
        .list-information{
            margin-top: 50px;
            max-width: 430px;
            list-style: none;
            li{
                color: var(--color-white);
                position: relative;
                padding-left: 37px; 
                margin-bottom: 15px;
                &::after{
                    position: absolute;
                    content: "";
                    left: 0px;
                    top: 6px;
                    width:22px;
                    height:22px;
                    background: url(../img/address-if.png);
                }
                &:nth-child(2){
                   &::after{
                        top: -2px;
                        background: url(../img/phone-if.png);
                   }
                }
                &:nth-child(3){
                   &::after{
                        top: -2px;
                        background: url(../img/Earth.png);
                   }
                }
                &:nth-child(4){
                   &::after{
                        top: 0px;
                        background: url(../img/email-if.png);
                   }
                }
            }
        }
        @media (max-width:1199px) {
            padding: 80px 30px 80px 30px;
        }
        @media (max-width:767px) {
            padding: 100px 15px 80px 15px;
        }
    }
    .register{
        background:hsl(229.09deg 44.51% 33.92% / 36.08%);
        border: 1px solid hsl(225.73deg 100% 67.84% / 54.9%);
        padding: 75px 60px 65px 60px;
        h3{
            text-align: center;
        }
        p{
            max-width: 453px;
            text-align: center;
            margin: auto; 
        }
        .box-contact{  
            margin-top:1rem; 
            input, textarea{
                border-radius: 100px;
                padding: 12px 20px 12px 60px;
                height: auto; 
                border: 1px solid var(--color-border);
                box-shadow: none; 
                &:-webkit-input-placeholder{
                    color:var(--typography-4);
                }
                &:-moz-placeholder{
                    color:var(--typography-4);
                }
                &::-moz-placeholder{
                    color:var(--typography-4);
                }
                &:-ms-input-placeholder{
                    color:var(--typography-4);
                }
                &[type="text"]{
                    background: url(../img/User.png)no-repeat left 25px center, var(--typography-2);
                }
                &[type="number"]{
                    background: url(../img/phone.png)no-repeat left 25px center, var(--typography-2);
                }
                &[type="email"]{
                    background: url(../img/email.png)no-repeat left 25px center, var(--typography-2);
                } 
            } 
            textarea{
                background: url(../img/comment.png)no-repeat left 25px top 7px, var(--typography-2);
            }
            .btn-viewmore{
                position: relative;
                justify-content: left;
                width: 140px;
                left: calc(50% - 70px); 
                text-align: left;
                border-radius: 60px;
                padding: 8px 16px;
                text-transform: uppercase;
                font-weight: 500;
                span{
                   right: 6px;
                }
            }
        }
        @media (max-width:1199px) {
            margin-top: 60px;
            padding: 60px 30px;
        }
        @media (max-width:767px) {
            padding: 60px 15px 40px 15px;
            .box-contact{
                .btn-viewmore{
                    top: inherit;
                }
            }
        }
    }
    @media (max-width:767px) {
        background: url(../img/contact-information.png) no-repeat center center;
        background-size: cover;
    } 
}
.banner-news{
    h1{
        position: absolute;
        font-size: 4rem;
        top:40%;
        left:12.5%;
        font-weight: 700;
        color:var(--color-heading);
        text-transform: uppercase;
        @media (max-width:991px) {
            font-size:2.5rem;
        }
        @media (max-width:767px){   
            font-size:1.5rem;
        }
    }
}
#list-news{
    .category-news{
        display: flex;
        list-style: none;
        justify-content: end;
        margin-bottom: 40px;

        li{
            margin-right: 10px;
            margin-bottom: 20px;
            &:last-child{
                margin-right: 0px;
            }
            a{
                font-size: 0.75rem;
                font-weight: 500;
                color: var(--primary-2);
                display: inline-flex;
                padding: 10px 20px;
                border-radius:28px;
                border: 1px solid var(--primary-2);
                transition: all 0.25s ease-in-out;
            }
            &:hover{
                a{
                    background: var(--primary-2);
                    color: var(--color-white);
                }
            }
        }
        @media (max-width:767px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .news-grid{
        .news-grid_item{
            margin-bottom: 35px;
            .box-img_item{
                border-radius: 30px;
                overflow: hidden;
                margin-bottom: 10px;
                img{    
                    width: 100%;
                }
            }
            .date-category{
                margin-bottom: 10px;
                display: flex; 
                align-items: center;
                justify-content: space-between;
                position: relative;
                &::after{
                    position: absolute;
                    content: "";
                    width:calc(100% - 300px);
                    height:2px;
                    background: var(--typography-2);
                    left: 50%;
                    transform: translate(-40%, 0);
                }
                a{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 15px;
                    border-radius: 28px; 
                    background: var(--primary-2);
                    color: var(--color-white);
                    font-size: 0.75rem;
                    font-weight: 500;
                }
                span{
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: var(--typography-2);
                }
            }
            h4{
                font-family: var(--font-secondary);
                font-weight: 600; 
                margin: 10px 0px;
                a{ 
                    color:var(--color-heading-body);
                }
            }
        } 
    }
}
#legal.legal-news{
    background: none;
}
#Images{
    background: url(../img/bg-library.png)no-repeat right bottom;
    padding-bottom: 75px;
    background-size: contain;
    .title-home{
        margin: 0px 0px 55px 0px;
    }
    .slider-library{
        .owl-nav{    
            .owl-prev, .owl-next{
                width:42px;
                height:42px;
                border-radius: 50%;
                border: 1px solid var(--primary-2);
                color: var(--primary-2); 
                background: var(--color-white);
                opacity: 1;
                &:hover{
                    color: var(--color-white);
                    background: var(--primary-2);
                }
            }
            .owl-prev{
                left: -60px;
            }
            .owl-next{
                right: -60px;
            } 
        }
    }
    @media (max-width:991px) { 
        .slider-library{
            .owl-nav{
                .owl-prev{
                    left: 10px;
                }
                .owl-next{
                    right:10px;
                }
            } 
        } 
    }
}
#subtract{
    background: var(--color-white);
    padding-bottom: 60px;
    padding-top: 60px;
    margin-top: -75px;
    .intro-image_subtract{
        img{
            min-height: 780px;
            width: auto; 
        }
        @media (max-width:991px) {
            img{
                min-height: inherit; 
            }
            margin-bottom: 40px;
        }
    }
    .box-subtract{
        padding-left: 60px;
        margin-bottom: 50px;
         h2{
            font-weight: 600;
            text-transform: uppercase;
            color: var(--secondary);
            line-height: 3rem;
            font-family: var(--font-secondary);
            margin-bottom:20px;
        }
        p{
            font-size: 1rem;
            color: var(--typography-3);
        }
        .btn-viewmore{
            position: unset;
            width: inherit;
            padding: 6px 6px 6px 20px;
            margin: 25px 0px 20px 0px;
            span{
                position: unset;
                margin-left: 15px;
            }
        }
        @media (max-width:991px) {
            padding-left: 0px;
            margin-bottom:30px;
        }
    }
    .box-slider-subtract{
        padding-top: 45px; 
        margin-left: -85px;
        padding-right: 130px;
        .slider-subtract{  
            .item{
                overflow: hidden;
                img{
                    border-radius: 20px;
                }
            }
            .owl-dots{
                display: inline-block;
                width: unset;
                margin-top: 0px;
                rotate:90deg;
                bottom: 43%;
                right: -65px;
                span{ 
                    margin: 3px; 
                    transition: all 0.25s ease-in-out;
                }
                .owl-dot{
                    &.active{
                        span{
                            background: var(--primary-2);
                            width:12px;
                            height: 12px; 
                        }
                    }
                }  
            }
        }
        @media (min-width:1200px) and (max-width:1504px) {
            padding-top:15px; 
            margin-left: -55px;
            padding-right: 80px;
        }
        @media (max-width:991px){
            padding-top:15px; 
            margin-left: 0px;
            padding-right: 60px;
            margin-bottom: 40px;
        }
        @media (max-width:767px){
            .slider-subtract{
                .owl-dots{
                    right:-95px;
                } 
            }
        }

    }  
}
#Brand{ 
    padding: 50px 0px 60px;
    background: var(--color-white);
    .container{
        background: url(../img/bg-brand.png)no-repeat center center;
        background-size: 100% 100%;
        min-height: 865px;
    }
    .slider-brand{     
        margin-top:50px; 
        .owl-stage-outer{
            right: -12%;
        }
        .owl-item{
            opacity:0;  
            .item{
                img{
                    filter: grayscale(100%);
                }
            }
            &.active{
                opacity: 1; 
                width:auto!important;
                .item{  
                    img{
                        max-width: 100%!important;
                        width: inherit!important; 
                    }
                }
            }
            &.active-custom{
                .item{
                    img{
                        filter: grayscale(0%); 
                    }
                }
            }  
        } 
    }
    .slider-brand-text{
        margin-top:50px;
        padding: 45px ;
        .item{
            min-height: 454px;
            p{
                font-size: 1rem;
                font-weight: 400;
                font-family: var(--font-secondary)!important;
                color: var(--color-black);
            }
        } 
        .owl-nav{
            top: inherit;
            bottom: -80px;
            left: 15px;
            font-size: 30px;
        }
    }
    .right-brand{
        padding: 45px 45px 45px 0px;
        h2{
            color: var(--primary-2);
            font-weight: 600;
            font-family: var(--font-secondary)!important;
            margin-bottom: 50px; 
        }
        .box-img-brand{
            overflow: hidden;
            border-radius: 30px; 
        }
    }
    @media (min-width:1200px) and (max-width:1504px){
        .slider-brand{
            .owl-stage-outer{
                right:0%;
            }
            .owl-item{
                &.active{
                    .item{
                        img { 
                            width: 150px !important;
                        }
                    }
                }
            }
        }
        .slider-brand-text{
            .owl-nav { 
                bottom: -50px;
                left: 15px; 
            }
        }
    }  
    @media (max-width:991px) {
        .container{
            min-height: unset;
            background: var(--background-3);
        } 
        .slider-brand-text {
            padding: 15px;
            margin-bottom: 75px;
            .item{
                min-height: inherit;
            }
        }
        .right-brand{
            margin-top: 30px;
            padding: 15px;
            h2{
                margin-bottom: 30px;
            }
        }
    }
    @media (max-width:767px){
        padding: 0px;
       .slider-brand { 
            .owl-stage-outer{
                right:0;
            }
            .owl-item{
                &.active{
                     .item{
                        img{
                            width: 130px !important;
                        }
                     }
                }
            }
        }
       .slider-brand-text{
            padding:0px;
            margin-bottom:75px;
            margin-top: 0px;
       }
       .right-brand{
            padding: 0px;
       }
    }
}   
.bg-white{
    background-color: var(--color-white);
}
#Images.bg-white{
    background: url(../img/bg-library-w.png)no-repeat right bottom; 
    background-color: var(--color-white);
    @media (max-width:767px) {
        margin-top: 30px;
        padding-top: 30px;
    }
}
#land-search{
    h2{
        font-weight: 600;
        color: var(--primary-2);
        text-transform: uppercase; 
    }
    .search-land{
        display: flex;
        justify-content:flex-end;
        position: relative;
        margin-bottom:65px;
        margin-top: -15px;
        >a{
            display: inline-flex;
            width: 62px;
            height: 62px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: #F1F2F3;
            transition: all 0.25s ease-in-out;
            margin-left: 10px;
            &:hover{
                background: var(--color-white);
                cursor: pointer;
            }
        }
        .form-land{
            position: absolute;
            top: 80px;
            right:0px;
            width: 585px;
            background: var(--color-white);
            border-radius: 30px;
            z-index: 100;
            padding: 50px 25px 15px 25px; 
            display: none;
            .form-group{
                margin-bottom: 20px;
            }
            select, input{
                border-radius:100px;
                padding: 12px 20px;
                height: auto; 
                border: 1px solid var(--color-border);
                box-shadow: none;
                text-transform: capitalize;
                color: var(--typography-2); 
                font-size: 1rem; 
                background: #F1F2F3; 
            }
            select{
                background: #F1F2F3;
                option{
                    background: #F1F2F3;
                }
            }
            .bg-seclector{
                border-radius: 30px;
                background: #F1F2F3;
                overflow: hidden;
            }
            input{
                &:-webkit-input-placeholder{
                    color:var(--typography-2);
                }
                &:-moz-placeholder{
                    color:var(--typography-2);
                }
                &::-moz-placeholder{
                    color:var(--typography-2);
                }
                &:-ms-input-placeholder{
                    color:var(--typography-2);
                }
            }
            select{
                appearance: none;
                background: url(../img/icon-down.png)no-repeat right 20px center;
            }
        }
        .btn-viewmore{
            position: unset;
            width: inherit;
            padding: 6px 6px 6px 20px;
            span{
                position: unset;
                margin-left: 10px;
            }
        }
        @media (max-width:767px) {
            justify-content:unset;
            margin-top:30px;
            margin-bottom:25px;
            .form-land{
                width: 100%;
            }
        }
    } 
}

.list-parameter{
    max-width: 725px;
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 20px;
    li{
        width: 50%;
        position: relative;
        padding-left:35px;
        margin-bottom:15px;
        font-weight:700;
        font-family:var(--font-secondary);
        &::after{
            position: absolute;
            content:"";
            width: 23px;
            height: 23px;
            left: 0px;
            top:0px;
            background: url(../img/icon-v.png)no-repeat center center;
        }
        @media (max-width:767px) {
            width: 100%;
        }
    }
}
.advantage{
    h3{
        font-size:20px;
        color: var(--color-black);
        font-family: var(--font-secondary);
        font-weight: 600;
        margin-bottom: 10px;
        text-transform: uppercase;
    } 
    li{
        list-style: none;
        padding: 20px 0px;
        border-bottom: 2px solid hsl(0deg 0% 0% / 16%);
        color: var(--color-black);
        font-weight: 400;
        font-family: var(--font-secondary);
    }
}
#content-lend{
    margin-top: 130px; 
    .content-lend{
        h3{
            color: var(--color-black);
            margin-bottom: 35px;
            text-transform: uppercase;
            font-family: var(--font-secondary);
        }
        p{
            color: var(--typography-2);
            margin-bottom: 20px;
            font-family: var(--font-secondary);
        }
        @media (max-width:991px) {
            h3{
                margin-top: 30px;
                margin-bottom: 25px;
            }
        }
    }
    .title-home{
        color: var(--color-black);
        font-size: 24px;
        text-transform: uppercase;
        font-family: var(--font-secondary);
        font-weight: 500;
        margin-bottom:20px;
        background: url(../img/icon-title.png) no-repeat top 17px left;
    }  
    .img-content-lend_box{
        margin-top:60px;
        background: url(../img/bg-library.png)no-repeat bottom -130px right -50px;
        background-size:cover;
        padding-bottom: 90px;
        .img-content-lend_item{
            border-radius: 20px;
            overflow: hidden; 
            margin-bottom: 40px;
        }
    }
}
#information {
    &.bg-land{
        background: url(../img/bg-land.png) no-repeat;
        padding: 115px 0px 90px 0px;
        background-size: 100% 100%; 
        .register{
            min-height: auto;
            p{
                max-width: inherit;
            }
            .box-contact{
                .form-group{
                    margin-bottom: 20px;
                }
            }
        }
        @media (max-width:991px) {
            padding: 40px 0px;
            background-size: cover;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            overflow: hidden;
        }
    }
}
// about us 
#infor-cty{
    margin-top: -75px;
    padding-top: 75px;
    padding-bottom:70px;
    .infor-cty_item, .cty_item{ 
        h2{
            text-transform: uppercase;
            color:var(--primary-2);
            font-weight: 700;
            font-family: var(--font-secondary);
            margin-bottom:40px; 
            max-width: 680px;
        }
        p{
            color: var(--typography-2);
            line-height: 1.75rem;
            text-align: justify;
            max-width: 630px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        
    }
    .cty_item{
        margin-top: 60px;
        h2{
            padding-left:20px;
            position: relative;
            font-weight: 600;
            &::after{
                position: absolute;
                content: "";
                width:6px;
                height: 40px;
                background:var(--primary-2);
                left: 0px;
                top: 0px;;
            }
        }
        .img-cty{
            border-radius: 30px; 
            position: relative;
            z-index: 100;
            img{
                min-width:318px;
                height: auto;
                position: absolute;
                right: -120px;
                top: -3px;
            }
        }
    }
    .slider-cty{
        .owl-dots{
            display: inline-block;  
            bottom: -40px;
            span{ 
                margin: 3px 7px;
                transition: all 0.25s ease-in-out;
            }
            .owl-dot{ 
                span{
                    width:17px;
                    height: 17px; 
                }
                &.active{
                    span{
                        background: var(--primary-2);
                        width:24px;
                        height:24px; 
                        margin-bottom: -1px;
                    }
                }
            }  
        }
    }
    @media (min-width:1200px) and (max-width:1504px) {
        .infor-cty_item, .cty_item{
            h2{
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 10px;
            }
        }
        .cty_item{
            margin-top:30px; 
            .img-cty{
                img{
                    min-width: 285px;
                    right: -90px;
                    top: -80px;
                } 
            }
        }
    }
    @media (max-width:991px){
       .infor-cty_item, .cty_item{
            h2{
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 10px;
            }
        }
        .cty_item{
            margin-top:30px; 
            margin-bottom: 40px;
            .img-cty{
                img{
                    min-width: 285px;
                    right: 0px;
                    top: 0px;
                } 
            }
        }
    }
    @media (max-width:767px){
        .cty_item{ 
            .img-cty{
                margin-top:20px;
                img{
                    position: unset;
                    min-width: 285px;
                    right: 0px;
                    top: 0px;
                } 
            }
        }
    }
}
#video-page{
    padding: 85px 0px 90px 0px ;
    .icon_video{
        margin-left: 55px; 
        margin-top: -40px;
        .text_video{
            position: relative;
            &::after{
                position: absolute;
                content: "";
                right:0px;
                bottom: 10px;
                width: calc(100% - 120px);
                height: 1px;
                background:var(--primary-2);
            }
        }
    }
    .title-video{
        font-weight: 600;
        color: var(--typography-2);
    }
    .video-card {
        position: relative; 
        width:100%; 
        max-width: 100%; 
        border-radius: 14px; 
        overflow: hidden;  
        margin-top: -50px;
        .thumb {
            position: relative; 
            padding-top: 56.25%; 
            background-size: cover; 
            background-position: center; 
            cursor: pointer;
            .play-btn {
                position: absolute; 
                right: 50px; 
                bottom:50px; 
                width: 120px; 
                height: 120px; 
                border-radius: 50%; 
                background: hsl(137deg 54% 31% / 92%); 
                display: flex; 
                align-items: center; 
                justify-content: center; 
                cursor: pointer; 
                border: none; 
                z-index: 2;
                animation: play 2s ease infinite;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                backface-visibility: hidden;
                .play-icon {
                    width: 0; 
                    height: 0; 
                    border-left: 18px solid var(--color-white); 
                    border-top: 12px solid transparent; 
                    border-bottom: 12px solid transparent; 
                    margin-left: 4px;
                }
            }
        }
        .video-player {
            display: none; 
            position: relative; 
            padding-top: 56.25%;
            iframe {
                position: absolute; 
                top: 0; left: 0; 
                width: 100%; 
                height: 100%; 
                border: none;
            }
            &:hover{
                .pause-btn {
                    display: flex;
                }
            }
        }
        .pause-btn {
            position: absolute; 
            right: 30px; 
            bottom: 30px; 
            width: 70px; 
            height: 70px; 
            border-radius: 50%; 
            background: hsl(137deg 54% 31% / 85%); 
            display: none; 
            align-items: center; 
            justify-content: center; 
            cursor: pointer; 
            border: none; 
            z-index: 2; 
            .pause-icon {
                width: 18px; 
                height: 24px; 
                background: 
                linear-gradient(#fff 0 0) left/8px 100% no-repeat, 
                linear-gradient(#fff 0 0) right/8px 100% no-repeat;
            }
        }  
    }
    @media (min-width:1200px) and (max-width:1504px) { 
        .title-video{
            font-size: 22px;
        } 
    }
    @media (max-width:991px){ 
        .icon_video{
            margin-left:0px; 
            margin-top:0px;
            img{
                max-width: 70px;
                height: auto;
            }
        }
        .title-video{
            font-size:14px;
        } 
        .video-card{
            margin-top: -20px;
        }
    }
    @media (max-width:767px){ 
        .video-card{
            margin-top:20px;
            .thumb{
                .play-btn{
                    right:30px; 
                    bottom:30px;
                    width:70px;
                    height: 70px;
                }
            }
        }
    }    
}
@keyframes play { 
    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 5px hsl(137deg 54% 31% / 40%);
    }
    25% {
        box-shadow: 0 0 0 10px hsl(137deg 54% 31% / 85%), 0 0 0 20px hsl(137deg 54% 31% / 20%);
    }
    25% {
        box-shadow: 0 0 0 15px hsl(137deg 54% 31% / 85%), 0 0 0 30px hsl(137deg 54% 31% / 20%);
    }

}

#renew{
    padding: 95px 0px 110px 0px;
    background: var(--primary-2);
    h2{
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color: var(--color-white);
        margin-bottom:50px;
    }
    .vision-box{
        padding: 30px 40px 30px 40px;
        background:var(--color-white);
        border-radius: 1rem;
        min-height: 485px;
        margin-bottom: 30px;
        .number{
            font-weight: 500;
            color: var(--typography-2);
        }
        .icon{
            margin: 5px 0px 30px 0px;
        }
        h3{
            font-weight: 500;
            color: var(--color-black);
            font-size: 40px;
            margin-bottom:25px;
            font-family: var(--font-secondary);
        }
        p{
            font-weight: 400;
            font-size: 1rem;
            color: var(--typography-2);
            text-align: justify;
        }
    }
    @media (min-width:1200px) and (max-width:1504px) {
        .vision-box{
            padding:15px;
        }
    }
    @media (max-width:991px){
        .vision-box{
            padding:15px;
        }
    }
}
#strategic-partner{
    position: relative;
    padding: 60px 0px 110px 0px;
    background: url(../img/bg-partner.png)no-repeat bottom right, #fff;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
    h2{
        margin-bottom: 65px;
    } 
    @media (min-width:992px) {
        .col-fix-20{
            width: 20%;
        }
    } 
}
#Executive-Team{
    padding: 54px 0px 65px 0px;
    h2{
        margin-bottom: 65px;
    }
    .box-team{
        position: relative;
        margin-bottom: 50px;
        .box-team_item{
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translate(-50%);
            min-width:320px;
            padding: 15px 30px;
            background:hsl(219deg 21% 39% / 70%);
            border: 1px solid #fff; 
            border-radius: 20px;
            text-align: center;
            color: var(--color-white); 
            p{
                font-weight: 500;
                margin-bottom:5px;
                text-transform: uppercase;
            }
            h4{
                font-size: 24px;
                font-weight: 600; 
                color: var(--color-white);
            }
        }
        .icon{
            position: absolute;
            bottom: 18px;
            right: 3px;
            width: 42px;
            height: 42px;
            border-radius: 50%; 
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--primary-2);
            color: var(--primary-2);
            background:var(--color-white);
        }
    }
    .slider-team{
        position: relative;
        z-index: 10;
        .owl-item{
            &.activer-custom{
                .box-team{
                    .icon{
                        border: 1px solid var(--color-white);
                        color: var(--color-white);
                        background:var(--primary-2);
                    }
                }
            }
        }
        .owl-dots{
            display: inline-block;
            width: unset;
            margin-top: 0px;
            rotate:90deg;
            bottom: 43%;
            right: -65px;
            span{ 
                margin: 5px; 
                transition: all 0.25s ease-in-out;
            }
            .owl-dot{
                &.active{
                    span{
                        background: var(--primary-2);
                        width:12px;
                        height: 12px; 
                    }
                }
            }  
        }
    }
    .slide-text-team{
        position: relative;
        z-index: 9;
        padding: 60px 65px;
        border-radius: 40px;
        margin-top: -60px;
        background: url(../img/bg-team.png)no-repeat;
        background-size: 100%   100%;
        .item{
            color: var(--color-black);
            p{
                color: var(--color-black);
            } 
        }
    }
    @media (min-width:1200px) and (max-width:1504px){
        .slider-team{
            .box-team{
                .box-team_item{
                    min-width:280px;
                }
                .icon{
                    bottom: 0px;
                    right: -10px;
                }
            }
        }
    }
    @media (max-width:991px){
        .slider-team{ 
            .box-team{
                .box-team_item{
                    min-width:260px;
                    p{
                        font-size: 14px;
                    }
                    h4{
                        font-size: 20px;
                    }
                }
                .icon{
                    bottom: 5px;
                    right: -5px;
                }
            }
        }
        .slide-text-team{
            padding: 35px;
        }
    }
    @media (max-width:767px){
        .slide-text-team{
            padding:20px;
            background: var(--color-white);
        }
    }
}
#legal{
    &.dowload-file{
        .box-legal{
            .icon-dowload{
                position: absolute;
                display: inline-block;
                top: 40px;
                right: 25px;
                img{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}
#Images{
    &.img-park{
        background: none;
        padding-bottom: 0px;
        .slider-library{
            .item{
                .icon-dowload{
                    position: absolute;
                    display: inline-block;
                    right: 40px;
                    bottom:10px;
                    img{
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}
#tax{
    background:none;
    padding:120px 0px 50px 0px;
    .box-legal{
        .box-desc-legal{
            position: unset;
            margin-top: 25px;
        }
    }
} 
#details{
    background:#F6F6F6;
    padding: 0px 15px ;
    .img-details-1{
        img{
            min-height: 370px;
        }
    }
    .box-content-details{
        padding: 40px;
        h4{
            font-size: 1.5rem;
            color: var(--color-black);
            margin-bottom:25px;
        }
        .infor{ 
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            max-width: 650px;
            li{
                width: 50%;
                position: relative;
                padding-left: 30px; 
                font-family: var(--font-secondary); 
                color: var(--color-black);
                font-weight: 400;
                &::after{
                    position: absolute;
                    content: "";
                    width: 23px;
                    height: 23px;
                    left: 0px;
                    top: 0px;
                    background: url(../img/icon-v.png) no-repeat center center;
                }
            }
        }
        .infor-2{
            margin-top:10px;
            display: flex;
            flex-wrap: wrap;
            max-width:800px;
            list-style: none;
            li{
                width: 50%;
                color: var(--color-black);
                font-weight: 400;
                margin-top:5px;
            }
        }
    }
    .img-details-2{
        position: relative;
        img{
            position: absolute;
            min-height: 425px;
            right: 20%;
            top: -25px; 
        }
    }
    @media (min-width:1200px) and (max-width:1504px){
        .box-content-details{
            padding:20px 10px;
        }
    } 
    @media (max-width:1199px) {
        max-width: 750px;
        margin: auto; 
        .box-content-details{
            padding: 40px 0px;
        }
        .infor, .infor-2{
            li{
                width: 100%!important;
            }
        }
        .img-details-2{
            position: unset; 
            margin-top:20px;
            img{
                position: unset;
                min-height: unset;
            }
        }
    } 
    @media (max-width:1199px){
        .img-details-1{
            img{
                min-height: unset;
            }
        }
    }
}
#specifications{
    padding-top: 65px;
    padding-bottom:20px;
    h2{
        margin-bottom: 60px;
    }
    .specifications{
        .specifications_item{
            position: relative;
            padding-left:35px;
            margin-bottom: 50px;
            h4{
                font-size: 1.25rem;
                color: var(--color-black);
                margin-bottom: 5px;
                font-weight: 600; 
            }
            p{
                font-weight: 400;
                color: var(--color-black);
                margin-bottom: 5px;
            }
            &::after{
                position: absolute;
                top:-10px;
                left: 0px;
                content:'';
                width: 28px;
                height: 49px;
                background: url(../img/icon_cong.png)no-repeat center center;
            }
        }
    }
}
#Plan{ 
    h2{
        margin-bottom:70px;
    }
    .box-plan{
        h4{
            color: var(--color-black); 
            text-transform: uppercase;
            font-size: 24px;
            font-family: var(--font-secondary);
            font-weight: 500;
            margin-bottom: 20px;
            background: url(../img/icon-title.png) no-repeat top 17px left;
            padding-left: 25px;
        }
        .list-parameter{
            margin-bottom: 25px;
        }
        .list-parameter, .advantage{
            padding-left: 15px;
        }
    }
}
#industrial-park{
    padding-top: 100px;
    overflow: hidden;
    box-sizing: border-box; 
    h3{
        font-size: 32px;
        font-weight: bold;
        font-family:var(--font-secondary);
        text-transform: uppercase;    
        margin-bottom:25px;
        color: var(--primary-2);
    }
    .slider-park-text{
        .item{
            p{
                font-weight: 400;
                color: var(--typography-2);
                margin-bottom:15px;
                text-align: justify;
            }
            .btn-viewmore{
                position: unset;
                width: inherit;
                padding: 6px 6px 6px 20px;
                span{
                    position: unset; 
                    margin-left: 10px;
                    img{
                        width:unset;
                        max-width: 100%;
                    }
                }
            }
        }
        .owl-nav{
            top: unset;
            bottom:-90px;
            right: -50px;
            border-left:none;
            width: inherit;
            display: block;
            z-index: 10;
            &::after{
                position: absolute;
                z-index: -1;
                right:110px;
                top: 50%;
                content: "";
                width: 85%;
                height: 1px;
                background:#6E707966;
            }
        }
    }
    .slider-img-park{
        .img-park{
            position: relative;
            border-radius: 30px;
            overflow: hidden;
            .text-park_item{
                position: absolute;
                bottom: 0px;
                left: 0px;
                padding: 20px 35px;
                background:hsl(0deg 0% 0% / 25%);
                h4{
                    font-size:16px;
                    color: var(--color-white);
                    font-weight: bold;
                    font-family: var(--font-secondary);
                }
            }
            .date-park{
                position: absolute;
                top: 35px;
                left: 30px;
                color: var(--color-white);
                font-size: 12px;
                font-family: var(--font-secondary); 
            }
            &::after{
                position: absolute;
                content: "";
                width:calc(100% - 150px);
                height: 1px;
                background: var(--color-white);
                left: 115px;
                top: 44px; 
            }
        }
    }
    @media (min-width:1200px) and (max-width:1504px){
        .slider-park-text{
            margin-bottom:50px;
        }
        .slider-img-park{
            .img-park{
                .text-park_item{
                    padding: 15px;
                    h4{
                        font-size: 14px;
                    }
                }
            }
        }
    }
     @media (max-width:991px){
        .slider-park-text{
            margin-bottom: 100px;
            .owl-nav {
                right: 0px;
            }
        }
    }
    
}