@media (min-width:1505px) {
    .container{
       width:1505px;
       margin: 0 auto;
    }
}
@media (min-width:1504px) and (max-width:1600px){
    .logo_pc{
        img{
            max-width: 45%;
        }
    }
    .nav-menu > .menu-item > .menu-link{
        font-size: 0.85rem;
    }
}
@media (min-width:1200px) and (max-width:1504px){
    .col-lg-15{
        width: 15%;
    }
    .col-lg-75{
        width: 75%;
    }
    .col-lg-10{
        width: 10%;
    } 
    .logo_pc{
        img{
            width: 80%;
        }
    }
    .nav-menu > .menu-item > .menu-link{
        font-size: 0.85rem;
    }
}
@media (min-width:992px) and (max-width:1199px){
     .col-lg-15{
        width: 13%;
    }
    .col-lg-75{
        width: 80%;
    }
    .col-lg-10{
        width: 7%;
    }
    .logo_pc{
        img{
            width: 80%;
        }
    }
    .nav-menu > .menu-item > .menu-link{
        font-size: 0.85rem;
    }
    .nav-menu > .menu-item{
        padding: 6px 10px;
    }
}
@media (min-width:992px) {
    .col-26{
        width: 26%;
    }
    .col-48{
        width: 48%;
    }
    .nav-dropdown .menu-item,
    .nav-dropdown .nav-dropdown .menu-item{
        border-radius: 15px;
    }
    #menu-main{
        >li {
            transition: all 0.4s cubic-bezier(.25, .8, .25, 1);
            &.hovered, &.is-active {
                background-color: var(--primary-2); 
                border-radius: 30px;
                >a{
                    color: var(--color-white);
                }
            }
            &.prev-hovered {
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
            }
            &.next-hovered {
                border-top-left-radius:30px;
                border-bottom-left-radius:30px;
            }
        }
    } 
}
.container-fluid-lg{
    width: 100%;
}
.header{
    position: relative;
    z-index: 99;
}   
// css hover menu main  
.menu_header{
    margin-top:25px;
    @media (min-width:992px) and (max-width:1199px){
         margin-top:20px;
    }
} 
.box-language{
    float:right;
    padding-right: 2.5rem;
    .language-selector {
        position: relative;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;  
        color: var(--primary-2);
        .selected-lang {
            padding: 10px 12px;
            background: var(--color-white);
            border: 1px solid var(--primary-2);
            border-radius:50px;
            cursor: pointer;
            min-width:80px;
            text-align: center;
            .arrow {
                float: right;
                margin-left: 10px;
                transition: transform 0.2s;
                font-weight: 300;
                &.open {
                    transform: rotate(180deg);
                } 
            } 
        } 
        .lang-options {
            position: absolute;
            top: 100%;
            left: 0;
            background: var(--color-white);
            border: 1px solid var(--primary-2);
            border-top: none;
            border-radius: 0 0 6px 6px;
            display: none;
            width: 100%;
            z-index: 999;
            .lang-option {
                padding: 8px 12px;
                cursor: pointer;
                white-space: nowrap;
                &:hover {
                    background: var(--background-2);
                }
            } 
        }
    } 
    @media (min-width:992px) and (max-width:1199px){
        padding-right:0.5rem;
        .language-selector {
            font-size: 0.85rem;
            .selected-lang{
                padding: 7px 12px;
            }
        }
    }
}
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-1px); }
    100% { transform: translateX(0); }
}   
//slider
#slider{ 
    position: relative;
    top: -75px;
    left: 0;
    width: 100%; 
    padding: 15px; 
    .slider-main{ 
        position: relative;
        z-index: 9;
        .item{
            img{
                max-height: 850px;
            }
            .caition{
                position: absolute;
                left: 5%;
                top: 31%;
                max-width: 555px;
                .text-caption{
                    font-size: 4rem;
                    font-weight: 700;
                    color: var(--color-heading);
                    line-height: 120%; 
                }
                .desc-caprion{
                    font-weight:400;
                    font-size:1.125rem;
                    line-height: 150%;
                    color: var(--typography-2);
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
                .btn-contact_caption{
                    display: inline-block;
                    width: 294px;
                    height: 90px;
                    background: url(../img/bg-buttom.png)no-repeat center center;
                    margin-left: -18px;
                }
            }
        }
        .owl-dots{  
            bottom: 45px;
            .owl-dot{
                span{
                    height: 4px;
                    width: 44px;
                    background: var(--color-white);
                    transition: all 0.25s ease-in;
                }
                &.active{
                    span{
                        width:72px;
                        background: var(--color-orange);
                    }
                }
            }
        } 
    }
    .social-list {
        position: relative;
        display: flex;
        justify-content: flex-end;
        gap:0px;  
        margin-top: -40px;
        z-index: 10;
        .social-item {
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            background-color: #0088ff;
            color: var(--color-white);
            border-radius: 999px;
            text-decoration: none; 
            width: 48px;
            height: 48px;
            transition: all 0.3s ease;
            white-space: nowrap;
            margin-left: -7px;
            i {
                font-size: 0.8rem;
                flex-shrink: 0;
            }
            .social-text { 
                font-size: 0.8rem;
                margin-left:0px;
                opacity: 0;
                max-width: 0;
                transition: max-width 0.4s ease, opacity 0.3s ease;
                overflow: hidden; 
            }
            &:hover{
                width: 100px;
                .social-text {
                    opacity: 1;
                    max-width: 100px;
                    margin-left:4px;
                }
            } 
        }
        /* Màu riêng cho từng mạng xã hội */
        .telegram {
            background-color: #0088cc;
        }

        .x {
            background-color: #1c1c1c;
        }

        .facebook {
            background-color: #1877f2;
        }
    }  
    @media (min-width:1200px) and (max-width:1504px){
        .slider-main{
            .item{
                .caition{
                    .text-caption{
                        font-size: 3rem;
                    }
                    .desc-caprion{
                        margin: 1.25rem 0rem;
                    }
                }
            }
        } 
    }
    @media (min-width:992px) and (max-width:1199px){
        padding: 30px 10px 10px 10px;
        .slider-main{
            .item{
                .caition{
                    .text-caption{
                        font-size: 2.5rem;
                    }
                    .desc-caprion{
                        margin: 1rem 0rem;
                        font-size: 1rem;
                    }
                    .btn-contact_caption{
                        width: 200px;
                        height: 75px;
                        background-size: 100%;
                        margin-left: -13px;
                    }
                }
            }
        }  
    }
    @media (max-width:991px){ 
        .slider-main{
            .item{
                .caition{
                    top: 21%;
                    .text-caption{
                        font-size: 2rem;
                    }
                    .desc-caprion{
                        margin: 0.75rem 0rem;
                        font-size:0.85rem;
                    }
                    .btn-contact_caption{
                        width: 200px;
                        height: 75px;
                        background-size: 100%;
                        margin-left: -13px;
                    }
                }
            }
            .owl-dots{
                .owl-dot{
                    span{
                        height: 3px;
                        width: 22px;  
                    }
                    &.active{
                        span{
                            width:44px; 
                        }
                    }
                }
            }
        }
    } 
    @media (max-width:600px){
        .slider-main{
            .item{
                .caition{ 
                    max-width: 355px;
                    .text-caption{
                        font-size: 1.5rem;
                    }
                    .desc-caprion{
                       display: none;
                    } 
                    .btn-contact_caption{
                        width: 130px;
                        height: 50px;
                    }
                }
            }
            .owl-dots{ 
                bottom: 0px;
            }
        }
        .social-list{
            position: fixed;
            flex-direction: column;
            top: 45%;
            right: 0px;
            z-index: 100;
            .social-item{
                opacity: 0.8;
                .social-text{
                    display: none;
                }
                &:hover{
                    width: inherit;
                    opacity: 1;
                    animation: shake 0.3s ease-in-out;
                }
            }
        } 
    }
}

.title-home{
    font-size: 2.5rem;
    line-height: 3rem;
    text-transform: uppercase; 
    font-weight: 700;
    color: var(--color-heading-body);
    position: relative;
    padding-left: 15px;
    display: inline-block;
    background: url(../img/icon-title.png)no-repeat top 10px left; 
    @media (max-width:767px){
        font-size: 1.75rem;
        line-height:2.5rem;
    }
}
#introduce{
    padding: 10px 0px 50px 0px;
    .desc-introduce{
        max-width: 560px;
        .title-introduce{
            font-size: 1.125rem;
            line-height: 1.75rem;
            color: var(--color-green);
            font-family: var(--font-secondary);
            font-weight: 700;
            font-style: italic; 
            padding-left: 25px;
            border-left: 4px solid var(--color-green);
            margin: 2.35rem 0rem 2.45rem;
        }
        .desc-introduce_item{
            p{
                font-weight: 400;
                line-height: 150%;
                color: var(--typography-2);
            }
        }
    } 
    .number-box{
        position: relative; 
        box-sizing: border-box;
        height: 270px;
        width: 300px;
        .number-background{
            position: absolute;
            font-size: 180px;
            font-weight: 600; 
            color: transparent; /* ẩn màu chữ */
            -webkit-text-stroke: 0.75px #D6DCE7; /* viền chữ */
            top: 15%;
            left: 0;
            line-height: 1;
            z-index: 0;
        }
        .number-front {
            position: relative;
            font-size: 68px;
            font-weight: 600;
            color:var(--primary-2);
            z-index: 1;
            top: 43%;
            left: 70px;
            display: inline-block;
        }
        .text {
            position: absolute;
            right:0px;
            top: 34%;
            text-align: left;
            z-index: 1;
        }

        .sub-text {
            font-size:1rem;
            color:var(--typography-2);
            font-weight: 500;
            text-transform: uppercase;
            margin-bottom: 12px;
            display: inline-block;
        }

        .main-text {
            font-size: 40px;
            font-weight: 600;
            color:var(--primary-2); 
        }
        &.number-box-fix{
            .number-front{
                left: 40px;
            }
        }
    }
    @media (min-width:992px) and (max-width:1369px){
        .number-box{
            width: 100%;
            height: 150px;
            .number-background{
                font-size: 100px;
            }
            .main-text {
                font-size: 26px;
            }
            .number-front{
                top: 40%;
                left: 35px;
                font-size: 40px;
            }
            .text{ 
                    top: 30%;
                    right: 80px;
                .sub-text{
                    margin-bottom: 5px;
                }
            }
            &.number-box-fix{
                 .number-front{
                    left:20px;
                }
            }
        }
    }

    @media (min-width:992px) and (max-width:1199px){
        .number-box{
            width: 100%;
            height: 150px;
            .number-background{
                font-size: 100px;
            }
            .main-text {
                font-size: 26px;
            }
            .number-front{
                top: 40%;
                left: 35px;
                font-size: 40px;
            }
            .text{ 
                top: 32%;
                right: 30px;
                .sub-text{
                    margin-bottom: 5px;
                }
            }
            &.number-box-fix{
                 .number-front{
                    left:20px;
                }
            }
        }
    }
    @media (max-width:767px){
        .desc-introduce{
            .title-introduce{
                margin: 1rem 0rem 2rem;
            }
        } 
        .number-box{
            height: 250px;
            margin: auto;
        }
    }    
}
#outstanding{
    padding: 100px 0px ;
    background: var(--primary-3);  
    .title-home{
        color: var(--color-white);
    }
    .text-outstanding{
        p{
            font-size: 1.125rem;
            font-weight:300;
            color: var(--color-white);
            font-style: italic;
            line-height: 1.8rem;
        } 
    }
    .box-outstanding{
        position: relative;
        .box-slider-text{
            position: absolute;
            width: 50%;
            right: 0;
            margin-top: 50px;
        }
    } 
    .slider-image{
        .owl-stage {
            display: flex;
            align-items: flex-end;
        }
        .owl-stage-outer { 
            height: 400px; 
        } 
        .item {
            /* Chiều cao mặc định */
            height:400px;
            border-radius: 16px;
            transition: all 0.4s ease;
            border-radius: 16px;
            overflow: hidden; 
            position: relative;
            img{
                position: absolute;
                bottom: 0;
                left: 0;
                height: 33.33%; 
                object-fit: cover;
                transition: all 0.4s ease;
                border-radius: 16px;
                width: 100%;
                display: inline-block;
            } 
        }  
        .owl-item{
            &.custom-active{
                .item{
                    img{
                        height: 100%;
                    }
                }
            }
        }
    }  
    
}
#advantage{
    background: var(--color-white);
    padding: 90px 0px 50px 0px;
    .title-home{
        margin: auto;
        display: inline-block;
        margin-bottom: 70px;
    }
    .box-advantage{
        margin-bottom: 40px;
        .desc-advantage{
            border-radius: 16px;
            border: 1px solid var(--color-green);
            background: lch(56.9 67.29 140.93 / 0.08);
            padding: 1.5rem; 
            margin-bottom: 10px;
            p{
                font-size: 1rem;
                font-weight: 400;
                color: var(--primary-2);
                margin-bottom: 0px;
            }
        }
        .title-advantage{
            font-size: 1.125em;
            background: var(--color-green);
            border-radius: 30px;
            color: var(--color-white);
            display: inline-block;
            padding: 4px 12px;
            margin-bottom: 10px;
            text-transform: uppercase;

        }
        &.box-advantage-fix{
            display: flex; 
            flex-direction: column-reverse;
            .desc-advantage{
                margin-bottom: 0px;
                margin-top: 10px;
            }
        }
        @media (min-width:768px) and (max-width:991px){
            .desc-advantage{
                padding: 1rem;
                .title-advantage{
                    font-size: 0.85rem;
                }
            } 
        } 
        @media (max-width:767px){
            &.box-advantage-fix{
                flex-direction: column;
                .desc-advantage{
                    margin-bottom: 10px;
                    margin-top: 0px;
                }
            }
        }
        
    } 
}

.desc-news{
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    .text-type-one{ 
        font-weight: bold;
        margin-bottom: 10px;
        a{
            color: var(--color-white);
        }
    }
    .post-date{
        display: flex;
        li{
            list-style: none; 
            margin-right: 12px;
            background: var(--color-white);
            border-radius: 12px;
            font-size: 0.75rem;
            padding: 1px 7px 1px 5px;
            color: var(--typography-3);
            .img-time{
                width: 16px;
                height: 16px;
                margin-top: -2px;
                margin-right:3px;
                display: inline-block;
            }
            .img-addree{
                width: 11px;
                height: 13px;
                display: inline-block;
            }
        }
    }
    .desc_item{
        p{
            font-size: 14px;
            color: var(--typography-3);
            margin-bottom: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#news-home{
    background: var(--color-white);
    padding: 100px 0px 70px 0px;
    .container{
        position: relative; 
    } 
    .title-home{
        margin-bottom: 50px;
    } 
    .news-type-one{
        position: relative;
        border-radius: 1rem;
        img.img-main{
            min-height: 480px;
            border-radius: 1rem;
            width: 100%;
        } 
    }
    .news-type-two, .news-type-three{
        background: var(--background);
        border-radius: 1rem;
        padding: 8px 16px 8px 8px;
        display: flex;
        .box-img{
            border-radius: 1rem;
            overflow: hidden;
            margin-right: 20px;
            min-width: 43%;
            img{
                width: 100%; 
            }
        } 
        .desc-news{
            padding: 0px;
            position:unset;
            .text-type-two{
                font-size: 1.125rem;
                line-height: 1.5rem; 
                margin-top: 20px;
                margin-bottom: 1rem;
                 display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                a{
                    color: var(--color-heading-body);
                }
                
            }
        }
        .post-date{
            margin-bottom: 1rem;
        }
    }
    .news-type-two{
       @media(max-width:767px) {
            flex-direction: column;
            padding: 8px;
            .box-img{
                margin: 0px;
            }
        }
    }
    .news-type-three{
        flex-direction: column;
        padding:0px;
        .box-img{
            min-width:unset;
            margin: 0px;
            border-radius: 0px;
            img{
                width: 100%;
                border-radius: 16px 16px 0px 0px;
            }
        }
        .desc-news{
            padding: 16px 24px;
            position:unset;
            .text-type-three{
                font-size: 1.25rem;
                margin-top: 0px;
            }
            .desc_item{
                p{
                    -webkit-line-clamp: 4;
                }
            } 
        }  
    } 
}
.slider-news-home, .slider-legal{
    .owl-nav{
        top: -75px;
        display: inline-block;
        width: 114px;
        height: 42px;
        right: 0px;
        border-left: 1px solid var(--color-border);
        .owl-prev, .owl-next{
            width:42px;
            height:42px;
            border-radius: 50%;
            border: 1px solid var(--primary-2);
            color: var(--primary-2);
            top: 0;
            &:hover{
                color: var(--color-white);
                background: var(--primary-2);
            }
        }
        .owl-prev{
            left: inherit;
            right: 52px;
        }
    }
    @media (max-width:767px) {
        .owl-nav{
            top: -30px;
            border:none;
        }
    }
}
.btn-viewmore{
    position: absolute;
    top:0px;
    right: 150px;
    width: 175px;
    height: 42px;
    border-radius: 60px;
    color: var(--color-white);
    background: var(--primary-2);
    border:1px solid var(--primary-2);
    span{
        position: absolute;
        display: inline-flex;
        width: 32px;
        height: 32px;
        background: var(--color-white);
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        right: 5px;
        top: 4px;
    } 
    @media (max-width:767px) {
        top:40px;
        left: 15px;
        right: inherit;
    }
}
#partner{
    padding: 95px 0px 115px 0px;
    .title-home{
        margin-bottom: 65px;
    }
    .row-15{
        margin: 0px -7.5px;
    }
    .col-15{
        padding: 0px 7.5px;
    }
    .container{
        max-width: 1200px;
        margin: auto;
        .image-partner{
            background: var(--color-white);
            border-radius: 10px;
            border: 1px solid var(--color-border-2);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 105px;
            margin-bottom: 15px;
        }
    }
}
#contact-home{
    padding: 80px 0px 65px 0px;
    position: relative;
    background:var(--background-3)url(../img/bg-contact-home.png) no-repeat bottom center;  
    .text-contact{
        position: relative;
        z-index: 10;
        max-width: 550px;
        height: 170px;
        padding: 32px 40px;
        margin-left: 50px;
        background: rgb(89 193 111 / 40%);
        border-right: 4px solid var(--color-white);
        margin-top: 80px;
        p{
            font-size: 24px;
            font-weight: 500;
            line-height: 150%;
            color: var(--color-white);
        }

    }
    .box-contact{
        background: var(--color-white);
        padding: 2rem;
        border-radius: 1rem;
        input, textarea{
            border-radius: 4px;
            padding: 12px 20px 12px 50px;
            height: auto; 
            border: 1px solid var(--color-border);
            box-shadow: none;
            &:-webkit-input-placeholder{
                color:var(--typography-4);
            }
            &:-moz-placeholder{
                color:var(--typography-4);
            }
            &::-moz-placeholder{
                color:var(--typography-4);
            }
            &:-ms-input-placeholder{
                color:var(--typography-4);
            }
            &[type="text"]{
                background: url(../img/User.png)no-repeat left 15px center;
            }
            &[type="number"]{
                background: url(../img/phone.png)no-repeat left 15px center;
            }
            &[type="email"]{
                background: url(../img/email.png)no-repeat left 15px center;
            } 
        } 
        textarea{
            background: url(../img/comment.png)no-repeat left 15px top 7px;
        }
        .btn-viewmore{
            position: relative;
            left: 0px;
            width: 100%;
            border-radius: 4px;
            padding: 8px 16px;
            span{
                right: calc(50% - 80px);
            }
        }
    }
    .icon-people{
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);

    }
    @media (min-width:768px) and (max-width:991px){
        .text-contact{
            padding: 15px;
            margin-left:0px;

        }
        .icon-people{
            left: 40%; 
        }
    }
    @media (max-width:767px){
        background: url(../img/bg-contact-home.png) no-repeat;
        background-size: cover; 
        .icon-people{
            display: none;
        }
        .text-contact{
            padding: 15px;
            margin-left:0px; 
            font-size: 18px;
            margin-bottom: 30px;
        }
        
    }
}
#legal{
    padding: 90px 0px 70px 0px;
    background: url(../img/bg-legal.png) no-repeat right 10px center;  
    .title-home{
        margin-bottom:50px;
    }
    .box-legal{
        position: relative;
        margin-bottom: 30px;
        .img-legal{
            img{
                border-radius: 30px;
                width: 100%;
                height: auto;
            } 
        }
        .box-desc-legal{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            background: hsl(0deg 0% 100% / 77%);
            padding: 30px;
            border-radius: 1.25rem;
            .desc-legal{
                display: flex;
                justify-content: space-between;
                position: relative;
                .icon_legal{
                    position: relative;
                    width: 24px;
                    height: 24px;
                    z-index: 10;
                    background: transparent;
                    
                }
                .date_legal{
                    position: relative;
                    font-size: 12px;
                    font-weight: 500;
                    z-index: 10;
                    background: transparent;
                    color:var(--typography-2);
                }
                &::after{
                    position: absolute;
                    z-index:9;
                    content: "";
                    width:calc(100% - 136px);
                    height: 1px;
                    background: var(--typography-2);
                    top:11px;
                    left:26px;
                }
            }
            .title-legal{
                font-family: var(--font-secondary);
                font-size: 1.25rem;
                line-height: 1.65rem;
                margin:10px 0px;
                a{
                    color: var(--color-heading-body);
                } 
            }
        } 
        .btn-legal{
            position: absolute;
            top: 40px;
            left: 25px;
            width: 160px;
            height: 34px;
            background: var(--primary-2);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            color: var(--color-white);
            border-radius: 28px;
        }
    }
}
footer{
    padding: 95px 0px 10px 0px;
    background: var(--secondary-4);
    .box-f{
        margin-bottom: 30px;
        .logo-f{
            margin-bottom: 40px;
        }
        .desc-f{
            max-width:273px;
            p{
                color: var(--color-white);
                font-weight: 400;
                line-height: 1.7rem;
            }
        }
        .title-f{
            position: relative;
            color:var(--color-white); 
            font-weight: 500;
            padding-bottom: 13px; 
            margin-bottom: 25px;
            &:after{
                position: absolute;
                content:"";
                left: 0px;
                bottom: 0px;
                height: 2px;
                width: 42px;
                background: var(--color-white);
            }
        }
        .list-f{ 
            li{
                font-size: 1rem; 
                line-height: 2.25rem;
                list-style: none;
                position: relative;
                padding-left: 15px;
                a{
                    color: var(--color-white);
                }
                &::after{
                    position: absolute;
                    content: "";
                    left: 0px;
                    top:15px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: var(--color-white);
                }
            }
        }
        .list-contact{
            li{
                margin-bottom: 20px; 
                padding-left: 42px;
                p{
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 5px;
                    color: var(--color-white);
                    &:first-child{
                        font-size: 1.125rem;
                        font-weight: 500;
                    }
                } 
                &:first-child{
                    &::after{
                        top: 0px;
                        width: 24px;
                        height: 32px;
                        background: url(../img/icon-email-f.png);
                    }
                }
                &:last-child{
                    &::after{
                        top: 0px;
                        width: 28px;
                        height: 28px;
                        background: url(../img/icon-phone-f.png);
                    }
                }
            }
        }
        &.box-contact-f{
            .desc-f{
                p{
                    font-size: 14px;
                }
            }
            .btn-viewmore{
                position: relative;
                left: 0px;
                width: 100%; 
                padding: 8px 16px;
                font-size: 1.125rem;
                text-transform: uppercase;
                font-weight: 600;
                height: 56px;
                span{
                    right: calc(50% - 110px);
                    top: 10px;
                    
                }
            }
        }
    }
    @media (max-width:767px) {
        padding: 95px 0px 50px 0px;
    }
}
#copyright{
    padding: 1.125rem 0rem;
    background: var(--secondary-5);
    p{
        font-size: 14px;
        color: var(--color-white); 
        margin-bottom: 0px;
    }
    .social-f{
        display: flex;
        list-style: none;
        justify-content: flex-end; 
        li{
            margin-right: 10px;   
            &:last-child{
                margin-right: 0px;
            }
            a{
                display: inline-flex;
                width: 28px;
                height: 28px;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: var(--secondary-6);
            }
        }
    }
    @media (max-width:767px) {
       p{
        text-align: center;
       }
       .social-f{
            justify-content: center; 
            margin-top: 10px;
       }
    }
}